{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>


<header class="p-3 bg-secondary text-white w-100">
    <!--    <div class="container">-->
    <div class="d-flex row flex-wrap align-items-center">
        <a class="col-1 d-flex align-items-center text-white text-decoration-none" href="{% url 'index' %}">
                <img width="32" height="32" role="img"
                     src="{% static 'images/communication.png'%}">
        </a>
        <a href="{% url 'hot' 1 %}" class="col-1">
            <h5>Hot</h5>
        </a>
        <div class="col-1"></div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-text" id="basic-addon2">Search!</span>
            </div>
        </div>
        <div class="col-1"></div>

        <div class="col-2 d-flex">
            <a href="/" class=" d-flex text-white text-decoration-none">
                <img class="bi me-2" width="64" height="64" src="{% static 'images/мем.png' %}" alt="...">
            </a>
            <div class="container">
                <div class="row">
                    <a class="text-center">Name</a>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a>Settings </a>
                    </div>
                    <div class="col text-center">
                        <a>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    </div>-->
</header>
<body>
<div class="row  justify-content-center w-100 my-4">
    <div class="col-8">
        {% block content %}{% endblock %}
    </div>
    <div class="col-2">
        <div>
            <h2>
                Popular Tags
            </h2>
            <button type="button" class="btn btn-primary">TAG1</button>
            <button type="button" class="btn btn-primary">TAG2</button>
            <button type="button" class="btn btn-primary">TAG3</button>
            <button type="button" class="btn btn-primary">TAG4</button>
        </div>
        <div>
            <h2>
                Best Members
            </h2>
            <div>
                <a href="#" class="mb-1 btn btn-primary">User Userovich</a>
            </div>
            <div>
                <a href="#" class="mb-1 btn btn-primary">Лазер Моисей Каганович</a>
            </div>
            <div>
                <a href="#" class="mb-1 btn btn-primary">ProGamer_2012</a>
            </div>
        </div>
    </div>
</div>
</body>

