{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>


<header class="p-3 bg-secondary text-white" style="width: 100%;">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <a href="/" class="col-1 d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" width="32" height="32" role="img" src="{% static 'images/communication.png'%}">
                </img>
            </a>

            <form class="nav col-8 me-lg-auto ">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
            <button type="button" class="btn btn-success col-1 me-lg-auto ">Search!</button>

            <div class="text-end col-2">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<body>
<div class="row  justify-content-center" style="width: 100%;">
    <div class="col-8">
        {% block content %}{% endblock %}
    </div>
    <div class="col-2">
        <div>
            <h2>
                Popular Tags
            </h2>
            <button type="button" class="btn btn-primary">TAG1</button>
            <button type="button" class="btn btn-primary">TAG2</button>
            <button type="button" class="btn btn-primary">TAG3</button>
            <button type="button" class="btn btn-primary">TAG4</button>
        </div>
        <div>
            <h2>
                Best Members
            </h2>
            <div>
                <a href="#" class="btn btn-primary" style="margin-bottom: .5rem;">User Userovich</a>
            </div>
            <div>
                <a href="#" class="btn btn-primary" style="margin-bottom: .5rem;">Лазер Моисей Каганович</a>
            </div>
            <div>
                <a href="#" class="btn btn-primary" style="margin-bottom: .5rem;">ProGamer_2012</a>
            </div>
        </div>
    </div>
</div>
</body>

