{% extends "main/main.html" %}
{% load static %}
{% block content %}
{% include "main/post_card.html" %}
<div class="card">
    {% for i in comments %}
    <div class="row " style="padding: .5rem;">
        <div class="col-1">
            <div class="ratio ratio-1x1">
                <img src="/{{i.author.ava}}" class="rounded-circle w-100"
                     alt="...">
            </div>
        </div>
        <div class="col">
            <h5 class="card-title">@{{ i.author.username }}</h5>
            <p class="card-text">{{ i.text }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="input-group my-1">
    <span class="input-group-text">Ваш комментарий: </span>
    <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
{% endblock %}